body {
    /*background: rgb(230, 231, 238);*/
    background: rgb(252, 248, 242);
}

.navigation {
    display: flex;
}

.logo {
    text-align: center;
    color: rgb(89, 91, 92);
    /*color: rgb(68, 71, 106);*/
    font-family: verdana;
    width: 120px;
    height: 25px;
    border: 1px solid #d1d9e6;
    border-radius: 8px;
    padding: 8px 14px;
    box-shadow: 5px 5px 10px #b8b9be, -5px -5px 10px #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 50px;
    margin-left:40px;
}

.dropdown p {
    text-align: center;
    /*color: rgb(68, 71, 106);*/
    color: rgb(89, 91, 92);
    font-family: "Nunito Sans", sans-serif;
    font-size: 1rem;
    width: 100px;
    padding: 5px 10px;
    line-height: 40px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content, .productDetails-body {
    background-color: rgb(252, 248, 242);
    padding-top: 10px;
    padding-bottom: 10px;
    width: 170px;
    border: 1px solid #d1d9e6;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #b8b9be, -5px -5px 10px #fff;
    display: none;
    position: absolute;
}

.dropdown-content a {
    text-decoration: none;
    font-weight: 400;
    font-size: 0.85rem;
    width:160px;
    height: 38px;
    /*color: rgb(68, 71, 106);*/
    color: rgb(89, 91, 92);
    font-family: verdana;
    display: inline-block;
    line-height: 38px;
    padding-left: 10px;
}

.dropdown-content a:hover {
    box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff;
}

.sections {
    display: flex;
    width: 800px;
    padding-right: 40px;
}

.sign-in {
    padding-left: 120px;
}

h4 {
    text-align: center;
    /*color: rgb(68, 71, 106);*/
    color: rgb(89, 91, 92);
    font-family: verdana;
    font-size: 0.85rem;
    width: 60px;
    height: 20px;
    padding: 10px;
    border: 1px solid #d1d9e6;
    border-radius: 8px;
    box-shadow: 5px 5px 10px #b8b9be, -5px -5px 10px #fff;
}

/* .shopping-car{
    width:150px;
    height:60px;
} */

/* .shopping-car-body{
    border: 1px solid #d1d9e6;
    border-radius: 8px;
    box-shadow: 5px 5px 10px #b8b9be, -5px -5px 10px #fff;
    height: 50px;
    margin-top: 17px;
    margin-left: 100px;
    width: 150px;
    padding-left:5px;
} */

.shopping-car-body img{
    width:35px;
    height:35px ;
    padding-top:10px;
}


.main-content {
    display: inline-flex;
    height: auto;
    padding-bottom: 40px;
}

.give {
    width: 640px;
    padding-left: 60px;
    padding-right: 20px;
}

.find {
    width: 630px;
    padding-right: 10px;
    padding-left: 100px;
}
.btn {
    display: inline-flex;
}

/* give and find buttons*/
.btn button {
    background-color: rgb(252, 248, 242);
    text-align: center;
    color: rgb(
        89,
        91,
        92
    ); /*the same as box height, vertical and horizontal center*/
    font-family: Apple Chancery;
    font-size: 1.4rem;
    font-weight: 800;
    line-height: 5rem;
    width: 90px;
    height: 90px;
    border: 1px solid #d1d9e6;
    border-radius: 3rem;
    box-shadow: 5px 5px 10px #b8b9be, -5px -5px 10px #fff;
    margin-right: 300px;
    margin-left: 300px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.btn button:hover, .details button:hover, .addon-btn button:hover {
    box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff;
}

.search {
    width: 500px;
    display: none;
    padding-left: 19px;
    padding-bottom: 10px;
    padding-top: 20px;
}

#search-box {
    height: 35px;
    width: 200px;
    padding-left: 2px;
    padding-right:3px;
    background-color: rgb(252, 248, 242);
    border: 2px solid #d1d9e6;
    border-radius:8px;
    box-shadow: 5px 5px 10px #b8b9be, -5px -5px 10px #fff;
    margin-left:20px;
}

#search-box:focus {
    background-color: rgb(252, 248, 242);
    border: 1px;
}

.category {
    display: none;
    width: 185px;
    padding: 10px;
    border: 2px solid #d1d9e6;
    border-radius:8px;
    margin-left: 40px;
    margin-top:20px;
    margin-bottom: 20px;
    height: 32px;
    box-shadow: 5px 5px 10px #b8b9be, -5px -5px 10px #fff;
}

.category p {
    font-family: verdana;
    font-size: 1.2rem;
    color: rgb(89, 91, 92);
    padding-right: 7px;
    margin:0%;
    padding-left: 35px;
    line-height: 32px;
}

.category img {
    width: 20px;
    height: 20px;
    padding-top: 7px;
}

.cate-dropdown:hover .dropdown-content {
    display: block;
}

.cate-dropdown{
    height: 80px;
    width: 200px;
}
.cate-dropdown a{
 width:196px;
}

.options{
    width:350px;
    margin-top: 6px;
}

.product{
    width:900px;
    padding-top: 6px;
}

.find-page{
    display:flex;
    margin-top:10px;
}

.card-body{
    width: 160px;
    height: 150px;
    padding: 10px;
    border: 1px solid #d1d9e6;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #b8b9be, -5px -5px 10px #fff;
    margin:20px;
}

.addon-btn button, .details button{
    width:70px;
    height:35px;
    border-radius: 6px;
    border: 1px solid #d1d9e6;
    box-shadow: 5px 5px 10px #b8b9be, -5px -5px 10px #fff;
    background-color:rgb(252, 248, 242);
    color:rgb(89, 91, 92);
    margin:5px;
    font-size: 0.8rem;
}

.filterBy{
    display:none;
    width: 300px;
}

.filterBy-body{
    width: 205px;
    height: 210px;
    border: 2px solid #d1d9e6;
    border-radius: 6px;
    box-shadow: 5px 5px 10px #b8b9be, -5px -5px 10px #fff;
    margin-left: 40px;
    margin-top: 10px;
}

.filterBy-body p, .filterBy-body label, .priceFilter-body label, .productDetails-body p{
    color:rgb(89, 91, 92);
    font-size: 1.1rem;
}

.priceFilter{
    display:none;
    height: 200px;
    width: 250px;
}

.priceFilter-body{
    width:190px;
    margin-left:40px;
    border: 2px solid #d1d9e6;
    border-radius: 6px;
    box-shadow: 5px 5px 10px #b8b9be, -5px -5px 10px #fff;
    margin-top: 35px;
    padding: 10px;
}

.productDetails{
    width: 250px;
    height: 240px;
}

.show {
    display: block;
}

.productDetails-body{
    width:230px;
    height:220px;
    border: 2px solid #d1d9e6;
    border-radius: 6px;
    box-shadow: 5px 5px 10px #b8b9be, -5px -5px 10px #fff;
    padding: 10px;

}